mixin page-header()
  header.page-header.page__header&attributes(attributes)
    .container.page-header__logo-container
      .page-header__logo-wrapper
        a.page-header__logo(href="/")
          img.page-header__logo-image(src="/img/logo.png", width="36", height="40", alt="GAZ")

    .page-header__top
      .container
        .page-header__top-inner
          ul.page-header__links
            li.page-header__links-item
              a.page-header__links-link(href="/dealers/russia/") Дилерская сеть ГАЗ

          .page-header__info
            .page-header__phone-note Звонок по России бесплатный
            a.phone.page-header__phone(href="tel:88007000747") 8-800-700-0-747
