head
    meta(charset='utf-8')
    meta(name='viewport' content='width=1110')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(property="og:image", content="http://4wd.azgaz.ru/images/sharing.png")
    link(href='css/app.min.css' rel='stylesheet')

    block title
        title= pageTitle || "Заголовок страницы"
