.footer {
  padding-top: 35px;
  padding-bottom: 25px;
  background: #1a1a1a;

  &__info {
    font-size: 12px;
  }

  &__info-column {
    @include media('<tablet') {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }
}
