mixin footer()
  footer.footer&attributes(attributes)
    .container
      .footer__main.
        main

      .columns.is-between.footer__info
        .column.is-6.footer__info-column
          p.text-minor © 2016 Удобный сервис для поиска и подбора микрозайма. Новости, факты и рейтинг МФО.

        .column.is-narrow.footer__info-column.
          Сделано в моризо
