mixin footer()
  footer.footer&attributes(attributes)
    .container-fluid
      .footer__main.
        main

      .row.flex-items-xs-between.footer__info
        .col-md-6
          p.text-minor © 2016 Удобный сервис для поиска и подбора микрозайма. Новости, факты и рейтинг МФО.

        .col-xs.col-xs-narrow.
          Сделано в моризо
