//- include ../blocks/header/header
//- include ../blocks/footer/footer

doctype html
html(lang='ru')
  include ../blocks/head/head
  body.page
    .svg-symbols(style={"display": "none"})
      include ../temp/symbols/symbols.svg

    block header
      //- +header().page__header

    main.main.page__main
      block pageMain

    //- +footer().page__footer
