include ../blocks/header/header

doctype html
html(lang='ru')
  include ../blocks/head/head
  body.page
    block header
      +header().page__header

    main.main.page__main
      block pageMainHeader
        .page-main__header
          .title.title--size-h1.page-main__title Заголовок
      block content
