extends ./base


block title
  title 404

block pageMainHeader


block content
  .error-page.page-main__content
    .error-page__clouds
    .error-page__code 404
    .error-page__road
      .container
        .row
          .row__col.row__col--offset-2
            .error-page__text
              .title.title--size-h5.title--white.error-page__text-title Страница не найдена
              .text.error-page__description
                  p привет
